{{#properties}} 
    <article class="propertyCard" data-id="{{id}}">
        <div class="propertyCard__overlay" style="background-color: {{agency.brandingColors.primary}}">
            <input type="button" class="propertyCard__overlay__button" value="Save">
            <p class="propertyCard__overlay__button__notification"></p>
        </div>
        <div class="propertyCard__header" style="background-color:{{agency.brandingColors.primary}}"><img src="{{agency.logo}}"/></div>
        <div class="propertyCard__image"><img src="{{mainImage}}"/></div>
        <div class="propertyCard__price">{{price}}</div>
    </article>
{{/properties}}